body {
	font-family: sans-serif;

}
	
div.header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
	background-image:url('CRLogo_white.png');
	background-size: Auto 90%;
	background-repeat: no-repeat; /* for vertical repeat */
}

div.nav {
    width:10em;
    float:left;
	padding:5px;
}

div.section {
   	width:auto;
   	overflow:hidden;
	padding:5px;
}

div.footer {
    clear:both;
    text-align:center;
    padding:5px;
    border-top-style: solid;
    border-top-width: 1px;
}

